doctype html
html
    head
        title Classes and Ids in Pug
    body
        h1#pageTitle Page title Goes Here
        p.big-para.
            Here is some text for
            my paragraph!
        p.big-para.
            Here is some text for
            my paragraph!
        .display-box
        #myOnlyDiv
