mixin comment(commentdata)
    .comment
        if commentdata.postedByAdmin
            em (Posted by Admin)
        .date=commentdata.date
        .author=commentdata.author
        .text=commentdata.text

doctype html
html
    head
        title Mixins in Pug
        style.
            .comment {
                font-family: sans-serif;
                line-height: 1.5;
                padding: 10px;
                border: 1px solid #555;
                width: 250px;
            }
            .date {
                font-size: 85%;
                text-align: right;
            }
            .author {
                font-size: 110%;
                font-weight: bold;
            }
            .text {
                font-size: 100%;
            }
        body
            - const c = { postedByAdmin: true, date: '03-07-2020', author: 'Andrii', text: 'Hey Andrii its cool' }
            +comment(c)
            - const b = { date: '03-07-2020', author: 'Bruce Less', text: 'That was funny' }
            +comment(b)

