doctype html
html
    head
        title Basics Pug
    body
        h1 Welcome to code with Pug
        p.
            This is paragraph tag
            and this is new line
        ul
            li This is item #1
            li This is item #2
            li This is item #3
